# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.idb
*.pdb
*.ipdb

*/.vs/
*/Debug/
AlgorithmChart/x64/Debug/
*.suo
*.Build.CppClean.log
*.exe.recipe
*ilk
*.vcxproj.FileListAbsolute.txt
*.tlog
*.log
*.vcxproj.user
*.recipe
