# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.db
*.idb
*.pdb

*/.vs/
*/Debug/
AlgorithmChart/x64/Debug/
*.suo
*.Build.CppClean.log
*.exe.recipe
*ilk
*.vcxproj.FileListAbsolute.txt
*.tlog
*.log
*.vcxproj.user
*.recipe
.vs/
String3/x64/Debug/vc.nativecodeanalysis.all.xml
String3/x64/Debug/Source.nativecodeanalysis.xml
String3/x64/Debug/Source.nativecodeanalysis.sarif
String3/x64/Debug/CodeAnalysisResultManifest.txt
FoodOrder/Release/FoodOrder.ipdb
